.show-responses {
  cursor: pointer;
  width: 100%;
  color: rgba(0, 0, 0, 0.84);
  border: 1px solid lavender;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

.responses {
  list-style: none;
  padding: 0;
}

.responses li {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border: 1px solid rgba(0, 0, 0, 0.09);
  padding: 15px 20px;
}

.responses li + li {
  margin-top: 1.5rem;
}

.responses .video-content {
  text-align: center;
}

.responses .video-content video {
  max-width: 100%;
}
