.blog h1 a {
  text-decoration: none;
  font-size: 48px;
  color: lavender;
  margin-left: -40px;
}

.blog h3 {
  margin-top: 2.5em;
}

.blog header {
  margin-top: 5em;
  margin-bottom: 2em;
}

.blog header p {
  font-size: 0.75em;
}

.blog footer {
  margin-top: 4em;
  text-align: left;
}

.blog footer small {
  font-size: 0.8em;
  opacity: 0.7;
}

.blog footer small a {
  font-size: 17px;
}
