.embed-container-sizing {
  position: relative;
}

.embed-container-sizing img {
  display: block;
  height: auto;
  width: 100%;
}
.embed-container-sizing iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
